body{
    background-color:gray;

}

h3{color: green;}
h3:hover {color:goldenrod;}
h3:active { color: aqua;}

.conjunto{ color : blue;
}

.diferent{
    color: red;

}

.row{
    color:bisque;
.letra-A-E{
    font-family: 'Arial', sans-serif;
    color: red;
    
}

img{
    width: 200px;
    height: 200px;
}

.letra-A-E:hover {
    background-color: lightblue;
}